
h1 {
    margin-left: 50px;
    padding-left: 50px;
}
form {
    margin-left: 30px;

}

.col-md-12 about1 {
    margin-top: 30px;
    padding: 50px;
    font-size: 25px;

}

/* .col-lg-3 port-pic {
background-color: aqua;
border: solid;
border-width: 4px;
margin: 30px;
} */

/* .col-lg-3 {
margin-top: 20px;
} */